.box{
background-color:silver;
height:350px;
width: 100%;
padding-top:5%;
padding-left:19%;
}
button{   
    color:white;
    width:160px;
    height:41px;
    background-color:lawngreen;
}
img{
    height:278px;
}
.footer{
    padding-top:32px;
    height:170px;
    background-color: black;
    color:silver;
    text-align: center;
}